target
tmp
workspace.xml
project/boot
local-repo
logs
test-output
out
*client/src/main/generated
*.ncb
*.suo
*.obj
atlassian-ide-plugin.xml
.idea/*
.idea_modules/*
.history
legacyresult.json
.deployables
.artifacts
dashboard/dist
RUNNING_PID
.inventory